# Normalize line endings
* text=auto eol=lf

# Specify how to diff certain file types
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Ignore certain files and directories when exporting
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
