
.circle-image {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    /* Ajustez la taille de l'image selon vos besoins */
    height: 100px;
    /* Ajustez la taille de l'image selon vos besoins */
    border-radius: 50%;
    overflow: hidden;
    z-index: 1000;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.custom-title {
    font-family: 'UnifrakturCook', cursive;
    font-size: 48px;
    /* Adjust size as needed */
    color: white;
    /* Adjust color as needed */
}



.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Aligner les éléments verticalement */
    gap: 15px;
    margin-top: 10px;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    transition: background 0.3s, transform 0.3s;
    /* Ajouter la transition pour la transformation */
}

.links a:hover {
    background: green;
    transform: scale(1.1);
    /* Agrandir légèrement le lien au survol */
}

/* Styles pour grands écrans */
@media (min-width: 769px) {

    .hamburger-icon,
    .close-icon {
        display: none;
        /* Masquer l'icône hamburger sur grands écrans */
    }
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .circle-image {
        top: 0;
        /* Position à l'extrémité supérieure de la fenêtre */
        left: 0;
        /* Position à l'extrémité gauche de la fenêtre */
        margin: 0;
        /* Supprime les marges */
        width: 80px;
        /* Taille réduite pour les petits écrans */
        height: 90px;
        /* Taille réduite pour les petits écrans */
        z-index: 1000;
    }
}

/* Styles pour petits écrans */
@media (max-width: 768px) {
    .links {
        display: none;
        /* Masquer les liens par défaut sur petits écrans */
        position: fixed;
        top: 0;
        right: -100%;
        /* Déplacer le panneau en dehors de la vue */
        width: 50%;
        /* Ajuster la largeur à 50% */
        height: 100%;
        background-color: #28a745;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px 20px 20px;
        /* Ajuster le padding selon vos besoins */

        transition: right 0.3s ease;
        /* Transition douce pour l'animation */
        z-index: 2;
        /* S'assurer que le panneau apparaisse au-dessus du header */
    }

    .links a {
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
    }

    .links.active {
        right: 0;
        /* Afficher le panneau latéral */
        display: flex;
        /* Afficher le contenu */
    }

   
    .hamburger-icon,.close-icon {
        display: block;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
        /* Placer l'icône hamburger à droite */
        font-size: 30px;
        color: white;
    }

  
}


