html,
body {
    background-color: white; /* Définit la couleur de fond de la page */
    color: black; /* Définit la couleur du texte */
    font-family: 'arial', sans-serif; /* Définit la police de caractères */
    font-weight: 200; /* Définit l'épaisseur de la police */
      margin: 0; /* Supprime les marges par défaut du corps et de l'élément html */
    overflow-x: hidden; /* Cache la barre de défilement horizontale */
}

.header {
    background-color: #00b894;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.circle-image {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px; /* Ajustez la taille de l'image selon vos besoins */
    height: 100px; /* Ajustez la taille de l'image selon vos besoins */
    border-radius: 50%;
    overflow: hidden;
    z-index: 1000;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media query pour les petits écrans (max-width: 768px) */
@media (max-width: 768px) {
    .circle-image {
        top: 0; /* Position à l'extrémité supérieure de la fenêtre */
        left: 0; /* Position à l'extrémité gauche de la fenêtre */
        margin: 0; /* Supprime les marges */
        width: 80px; /* Taille réduite pour les petits écrans */
        height: 90px; /* Taille réduite pour les petits écrans */
        z-index: 1000;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.custom-title {
    font-family: 'UnifrakturCook', cursive;
    font-size: 48px; /* Adjust size as needed */
    color: white; /* Adjust color as needed */
}

.hamburger-icon,
.close-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Aligner les éléments verticalement */
    gap: 15px;
    margin-top: 10px;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s, transform 0.3s; /* Ajouter la transition pour la transformation */
}

.links a:hover {
    background: green;
    transform: scale(1.1); /* Agrandir légèrement le lien au survol */
}
.search-icon {
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 5px;
}


.btn:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}


/* Mobile view adjustments */
@media (max-width: 768px) {
    .hamburger-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    .links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: #00b894;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
        transition: display 0.3s ease-in-out;
    }

    .links.open {
        display: flex;
    }

    .links a {
        padding: 10px;
        font-size: 18px;
        width: 100%;
        text-align: left;
    }

    .content {
        align-items: flex-start;
    }

    .links.open::before {
        display: block;
        color: white;
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
}
